<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="public/css/create_resume_style.css"/>
    <link rel="icon" type="image/png" href="public/assets/logo_with_bg.png"/>
    <title>Create Resume</title>
  </head>
  <body>
    <div class="green-board"></div>
    <div class="form-container">
      <h2>Create Portfolio</h2>  
      
      <h4>Profile Image</h4>
      <input type="file" id="image" class="file_input">
      <br><br>
        
        
        <h4>About Me</h4>
        <textarea id="about" style="height: 6rem;"></textarea>

        <h4>Skills</h4>
        <div id="skill_div" class="row">
            <div class="input-field col l5 s12">
                <label>skill name</label>
                <input type="text" id="skill_name">
            </div>
            <div class="input-field col l5 s12 offset-l1">
                <label>skill description</label>
                <input type="text" id="skill_desc">
            </div>
            <div class="col s12">
              <button class="btn green left" onclick="addskill()">Add Skills</button>
              <br><br>
            </div>
            <ul class="collection with-header" id="skill_collection">
                <li class="collection-header"><h4>All Skills</h4></li>
            </ul>
        </div>


        <h4>Work Experience</h4>
        <div id="work_div"  class="row">
            <div class="input-field col l5 s12">
                <label>work name</label>
                <input type="text" id="work_name">
            </div>
            <div class="input-field col l5 s12 offset-l1">
                <label>work description</label>
                <input type="text" id="work_desc">
            </div>
            <div class="col s12">
              <button class="btn green left" onclick="addwork()">Add Work Experience</button>
              <br><br>
            </div>
            <ul class="collection with-header" id="work_collection">
              <li class="collection-header"><h4>All Work Experience</h4></li>
            </ul>
        </div>

      <div class="row">
        <h3>Education</h3>

        <h4>Tenth</h4>
        <div class="input-field col l4 s12">
          <label>tenth name</label>
          <input type="text" id="tenth_name" />
        </div>

        <div class="input-field col l4 s12">
          <label>tenth address</label>
          <input type="text" id="tenth_address" />
        </div>

        <div class="input-field col l4 s12">
          <label>tenth marks</label>
          <input type="text" id="tenth_marks" />
        </div>
        <div class="input-field col l4 s12">
          <label>tenth metric</label>
          <input type="text" id="tenth_metric" />
        </div>

        <div class="input-field col l4 s12">
          <label>tenth board</label>
          <input type="text" id="tenth_degree" />
        </div>

        <div class="input-field col l4 s12">
          <label>tenth year</label>
          <input type="text" id="tenth_year" />
        </div>

        <h4>Twelth</h4>
        <div class="input-field col l4 s12">
          <label>twelth name</label>
          <input type="text" id="twelth_name" />
        </div>

        <div class="input-field col l4 s12">
          <label>twelth address</label>
          <input type="text" id="twelth_address" />
        </div>

        <div class="input-field col l4 s12">
          <label>twelth marks</label>
          <input type="text" id="twelth_marks" />
        </div>

        <div class="input-field col l4 s12">
          <label>twelth metric</label>
          <input type="text" id="twelth_metric" />
        </div>

        <div class="input-field col l4 s12">
          <label>twelth board</label>
          <input type="text" id="twelth_degree" />
        </div>

        <div class="input-field col l4 s12">
          <label>twelth year</label>
          <input type="text" id="twelth_year" />
        </div>

        <h4>College</h4>
        <div class="input-field col l4 s12">
          <label>college name</label>
          <input type="text" id="college_name" />
        </div>

        <div class="input-field col l4 s12">
          <label>college address</label>
          <input type="text" id="college_address" />
        </div>

        <div class="input-field col l4 s12">
          <label>college marks</label>
          <input type="text" id="college_marks" />
        </div>

        <div class="input-field col l4 s12">
          <label>college metric</label>
          <input type="text" id="college_metric" />
        </div>

        <div class="input-field col l4 s12">
          <label>college board</label>
          <input type="text" id="college_degree" />
        </div>

        <div class="input-field col l4 s12">
          <label>college year</label>
          <input type="text" id="college_year" />
        </div>
      </div>

      <h4>Links</h4>
      <div class="row">
        <div class="input-field col l4 s12">
            <label>facebook</label>
            <input type="text" id="facebook" />
        </div>
        <div class="input-field col l4 s12">
            <label>github</label>
            <input type="text" id="github" />
        </div>
        <div class="input-field col l4 s12">
            <label>linkedin</label>
            <input type="text" id="linkedin" />
        </div>
      </div>
      <br><br>
      <button class="btn left btn-large" type="button" onclick="create_handler()">
        <h6>Create Portfolio</h6>
      </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="public/js/create_resume_script.js"></script>
  </body>
</html>
