<!DOCTYPE html>
<html>
  <head>
    <title>HOME || Portfolio Creator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="public/css/home_style.css" />
  </head>

  <body>
    <a href="./login" class="flow-text">Continue to web version</a>
    <div class="mobile orange-text entry" id="mobile"></div>
    <script src="public/js/home_script.js"></script>
  </body>
</html>
