<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home || Portfolio Creator</title>
	<link rel="stylesheet" type="text/css" href="public/css/home_style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
	<img src="public/assets/logo.png" class="logo">
	<section>
		<div class="web">
			<img src="../public/assets/web_illustration.jpg" alt="no image">
			<div>
				<p>Create beautiful portfolios<br>using our simpler web application </p>
				<a href="./login" class="btn">Continue with our webapp</a>
			</div>
		</div>
		<div class="app">
			<div>
				<p>Manage your portfolios easily<br>from our android application</p>
				<a href="public/apk/portfolio_creator.apk" download="portfolio_creator.apk" class="btn">Download Apk</a>
			</div>
			<img src="../public/assets/app_illustration.jpg" alt="no image">
		</div>
	</section>
	<footer>
		Created by 
		<a target="_blank" href="https://www.linkedin.com/in/rishabhverma4488/">Rishabh</a> & 
		<a target="_blank" href="https://www.linkedin.com/in/prashant-kumar-76906517a/">Prashant</a> 
	</footer>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home || Portfolio Creator</title>
	<link rel="stylesheet" type="text/css" href="public/css/home_style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
	<img src="public/assets/logo.png" class="logo">
	<section>
		<div class="left">
			<div class="web">
				<div></div>
			</div>
			<h2><a href="./login" class="link">Continue to webapp</a></h2>
		</div>
	
		<div class="right">
			<div class="mob">
				<div></div>
			</div>
			<button class="btn"><a href="public/apk/portfolio_creator.apk" download="portfolio_creator.apk" class="apk_btn">Download Apk</a></button>
		</div>
	</section>
</body>
</html> -->