<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="public/css/login_style.css">
        <title>Document</title>
    </head>
    <body>
        <form>
            <input type="text" id="username" placeholder="username" name="username"><br>
            <input type="password" id="password" placeholder="password" name="pass"><br>
            <button type="button" onclick="submitHandler()">submit</button>
        </form>
        <a href="./register">register</a>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src='public/js/login_script.js'></script>
    </body>
</html>