<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/profile_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="icon" type="image/png" href="public/assets/logo_with_bg.png" />
    <title>Profile</title>
</head>
<body>
    <h3>Welcome,<br> <%= data.name %></h3>
    <p class="flow-text user_link">Username : <%= data.id %><br>Site : <%= link %></p>
    <a class="btn" href="./create_resume">Create New Resume</a><br>
    <a class="btn" href="./edit_resume">Edit Existing Resume</a><br>
    <button class="btn" onclick="logoutHandler()">logout</button>
    <script src="public/js/profile_script.js"></script>
</body>
</html>